.add_category{
    padding: 15px 25px;
    background-color: rgb(15, 15, 165);
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
}
.add_category:hover{
    background-color: brown;
    color: #fff;
}