body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.admin-container {
    min-height: 100vh;
    padding-top: 40px;
}

.container {
    margin: auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="num"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    padding: 30px;
    color: #fff;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ffc107;
}

/* Sidebar styles */
.sidebar {
    background-color: #333;
    color: #fff;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    overflow-y: auto;
    transition: left 0.3s ease;
    z-index: 1;
    padding-top: 80px;
}

.sidebar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar-item {
    margin: 20px;
}

.sidebar-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease;
}

.sidebar-link:hover {
    background-color: #ffc107;
}

/* Menubar button styles */
.menubar-toggle {
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 1.4rem;
    padding: 15px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

/* Footer styles */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: relative;
    padding: 10px 0;
    width: 100%;
}

.footer-container {
    max-width: 800px;
    margin: 0 auto;
}

/* Product table */
.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th,
.product-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.product-table th {
    background-color: #f2f2f2;
}

.product-table tbody tr:hover {
    background-color: #f2f2f2;
}

/* Category table */
.category-table {
    width: 100%;
    border-collapse: collapse;
}

.category-table th,
.category-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.category-table th {
    background-color: #f2f2f2;
}

.category-table tbody tr:hover {
    background-color: #f2f2f2;
}

/* Button styles */
.btn-edit,
.btn-delete {
    display: inline-block;
    margin-right: 5px;
    padding: 5px;
    color: #333;
    text-decoration: none;
}

.btn-edit:hover,
.btn-delete:hover {
    color: #000;
}